@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    cursor: pointer;
}

.close-image-btn {
    color: red;
    font-size: 45px;
}

/* footer{
    bottom: 0px !important;
    position: absolute;
    width: 100%;
} */

@media screen and (max-width: 768px) {}